.green{
    background-color: green;
}

.white{
    background-color: white;
}


.contenedorForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72.2vh;
}
.formContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}